#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. MatPlotlib

  | Data Science Tools| 
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| Apache Zeppelin        |

### Below are a few examples of evaluating arithmetic expressions in Python

**Objectives:**

- List popular languages for Data Science  
- List commonly used libraries for Data Science  
- Demonstrate the use of arithmetic expressions in Python  
- Create tables and lists in Jupyter Notebooks using Markdown  
- Share Jupyter Notebooks through GitHub

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
print((3*4)+5)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
print(200/60)

3.3333333333333335

## Author 
Alfonso Villalobos